* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}
.color{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}
#black{
  background-color: black;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#green{
  background-color: green;
}

.pixel{
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: table-cell;
}
#pixel-board{
  display: table;
  padding: 5px;
}
#color-palette{
  margin-left: 10px;
  padding: 5px;
  display: table-row;
}
#title{
  margin-left: 10px;
  margin-bottom: 5px;
}
.pixelBorder{
  display: table-row;
  padding: 5px;

}



